### Tuple Data Structure: ()

* List and tuple are same but the only one difference is that tuple is immutable where as list is mutable.
* Once we create tuple object we are not try to perform any changes 
* Read only version of list :Tuple
* 1.inseration order is preserved
* 2.duplicates are allowed
* 3.hetrogeneous elements are present
* 4.supports both positive and negative index
* 5.Index is applicable ony for read opeartion because we cannot perform  multiplication of typles

In [2]:
t=10,20,30,40
print(type(t))
print(t)

<class 'tuple'>
(10, 20, 30, 40)

In [4]:
t=(10)
print(type(t))

<class 'int'>

In [5]:
t=("aa")
print(type(t))

<class 'str'>

* **Things to note:**
    When we display single value in tuple compulsory to give comma otherwise it's type consider as int or char

In [6]:
t=(10,)
print(type(t))

<class 'tuple'>

In [8]:
t=('A',)
print(type(t))

<class 'tuple'>

#### Valid Tuples:
   * t=()
   * t=10   #invalid
   * t=10,
   * t=10,20,30,
   * t=(10,20,30)
   * t=(10)  # invalid

* **Tuple creation**
 *   1.creation of empty tuple:
              t=()
        
 *   2.single value tuple
            t=(10,)
      
 *   3.multiple value tuple:
            t=(10,20,30)
            t=(10,20,30,)

### Mathematical operator

In [13]:
t1=(10,20,30)
t2=(50,80,90)
t3=t1+t2
print(t3)
print(t1)
print(t2)

(10, 20, 30, 50, 80, 90)
(10, 20, 30)
(50, 80, 90)

In [17]:
t1=t2*3
print(t1)

(50, 80, 90, 50, 80, 90, 50, 80, 90)

In [18]:
print(id(t1))
print(id(t2))

1758882401184
1758885033664

### 2.Important functions of tuple:

* **1.len():**

In [19]:
t=(10,20,30,40,50)
print(len(t))

5

* **2.count():**

In [21]:
t=(10,20,30,40,20)
print(t.count(20))

2

* **3.Index()**

In [22]:
t=(10,20,30,40,50)
t.index(30)
## t.index(90) ==> value error

2

* **4.Sorting():**
To sort elements based on natural sorting order

In [23]:
t=(30,10,40,50,20)
print(sorted(t))

[10, 20, 30, 40, 50]

In [24]:
## Because tuple is immutable
t=(10,20,30,40,50)
l=sorted(t)
print("Tuple:",t)
print("List:",l)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

In [25]:
t=(10,50,8,7,60,1100)
print(sorted(t))
print(sorted(t,reverse=True))

[7, 8, 10, 50, 60, 1100]
[1100, 60, 50, 10, 8, 7]

* **5.To find min and max**

In [26]:
t=(10,50,8,7,60,1100)
print(min(t))
print(max(t))

7
1100

In [28]:
s='Goodgo'    #A=65 & a=95
print(min(s))
print(max(s))

G
o

### Compare()
but avilabel in only python 2 not in python 3

In [29]:
t1=(10,20,30)
t2=(10,20)
print(t1>t2)    ## Compare 1st element

True

## Tuple Packing and Tuple Unpacking :
**packing ==> Grouping into single**

In [31]:
a=10
b=20
c=30
t=(a,b,c)
print(t)

(10, 20, 30)

**Unpacking**

In [35]:
t=(10,20,30)
a,b,c=t
print("a=",a,"c=",c,"b=",b)

a= 10 c= 30 b= 20

### Tuple Comprehension:
l=[x*x for x in range(1,11)]

In [36]:
l=[x*x for x in range(1,51)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

In [37]:
l=(x*x for x in range(1,51))
print(l)

<generator object <genexpr> at 0x0000019985CAF040>

#### Tuple comprehension is not support in python

In [38]:
#write  a program to take a tuple of numbers from the keyboard and print sum, average

In [40]:
t=eval(input("Enter some tuple of numbers: "))
l=len(t)
sum=0
for x in t:
    sum=sum+x
print("The sum: ",sum)
print("The average: ",sum/l)

Enter some tuple of numbers: 10,2.5,20.5,200.5
The sum:  233.5
The average:  58.375